body{

    background-color:#c4e9de;
}

.bg-2 { 
  background-color: #181818;
  color: #ffffff;

}

.bg-2 p{
    font-size:40px;
    color:red;
    margin-top:5px;
}

.futer {
    background-color:#2b2b2b;
    color:rgb(238, 236, 236);
    margin-top:5px;
    padding: 40px;
    font-size:18px;
}

.futer a {
    color:green;
}

.panel-danger {
    font-weight:bold;
    font-size:18px;
    text-align:center;
}