
table.table.table-bordered.table-dark{
  font-size:14px !important;
}
.papaMascota{
    display:flex;
    align-items:center;
    margin:0px !important;
  }

  .clienteMascota{
    padding:25px !important;
  }

  .clienteMascotas{
    padding:25px !important;
  }

  .imgMascota{
      margin: 1px;
      padding: 3px;
  }

  .botonmobile{
      display:none
  }

  @media (max-width: 900px) {
        .papaMascota{
            margin-top:100px !important;
            display: block;
        }
      .imgMascota{
          width:100%;
      }
      #myCarousel{
          display:none;
      }
      .botondesktop{
        display:none;
      }
      .botonmobile{
          display:block;
      }
    
  }

  @media (max-width: 767px) {
  table.table.table-bordered.table-dark{
    font-size:8px !important;
  }
}