   /*dejamos redondeados los bordes y el navbar x defecto */ 
   .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #003668;
  }
  
  /*----------------------------FOOTER--------------------------*/
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
    /*----------------------------CARROUSEL-------------------------*/
.carousel-inner img {
    height:300px;
    width:auto;
    margin: auto;
    min-height:100px;
}

.in{
  color: #f6f6f6;
}

/*-------------------------------- MEDIA QUERY PARA EL CARROUSEL----------------------------------*/
@media (max-width: 400px) {
  .carousel-caption {
    display: none; 
  }
}


/*-----------------------------------MENÚ----------------------------------------*/

.row{
  padding: 60px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}
.logo-small {
  color: #003668;
  font-size: 50px;
}
.logo {
  color: #003668;
  font-size: 200px;
}

.navbar-brand{
  padding-bottom: 20px;
}
.cinicio{
  color:#003668;
  padding:10%;
}